/*  your css code here. If applicable */
body{
	background-color:rgb(204, 204,204);
	text-align:center;
	}

h1,h2,h3{
	text-align:centre;
}
div>h1,h2,h3{
	color:black;
}
li{
	list-style-type:none;
	
}
li>a{
	color:black;
}
a{
	text-decoration-line:none;
}

div{
	background-color:rgb(255,255,255);
	border:1px solid black;
	border-radius:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
}
#second{
	margin-top:25px;
	margin-left:90px;
	margin-right:90px;
}
#second>p{
	color:black;
}
#first{
	text-align:left;
	margin:20px;
}
.player_one{
	padding:2px;
	background-color:rgb(255, 255, 255);
}
#SecHead{
	margin-top:2px;
}
p{
	text-align:left;
	margin-bottom:5px;
}